@page "/profilePage"

<BFUStack HorizontalAlign="Alignment.Center" Style="width:100%">
    <BFUPersona Text="URK96"
                SecondaryText="JIN HYEOK, CHOI"
                TertiaryText="Software Developer"
                OptionalText="Student, INHA University"
                ImageUrl="/Images/profile.png"
                Presence=@PersonaPresenceStatus.None
                Size=@PersonaSize.Size120
                ShowInitialsUntilImageLoads="true" />

    <div style="font-size:@ThemeProvider.Theme.FontStyle.FontSize.Large; font-weight:@ThemeProvider.Theme.FontStyle.FontWeight.SemiBold; margin-top:50px">Programming Lang Stack</div>

    <BFUStack Horizontal="true" Style="margin:20px" Tokens=@(new BFUStackTokens() { ChildrenGap = new double[] { 30.0 } })>
        <BFUTooltipHost>
            <TooltipContent>C</TooltipContent>
            <ChildContent>
                <BFUImage Src=@($"/Images/ProfileIcons/c.svg") Width=@LANG_ICON_WIDTH />
            </ChildContent>
        </BFUTooltipHost>
        <BFUTooltipHost>
            <TooltipContent>C++</TooltipContent>
            <ChildContent>
                <BFUImage Src=@($"/Images/ProfileIcons/cpp.svg") Width=@LANG_ICON_WIDTH />
            </ChildContent>
        </BFUTooltipHost>
        <BFUTooltipHost>
            <TooltipContent>C#</TooltipContent>
            <ChildContent>
                <BFUImage Src=@($"/Images/ProfileIcons/csharp.svg") Width=@LANG_ICON_WIDTH />
            </ChildContent>
        </BFUTooltipHost>
        <BFUTooltipHost>
            <TooltipContent>Java</TooltipContent>
            <ChildContent>
                <BFUImage Src=@($"/Images/ProfileIcons/java.svg") Width=@LANG_ICON_WIDTH />
            </ChildContent>
        </BFUTooltipHost>
        <BFUTooltipHost>
            <TooltipContent>Python</TooltipContent>
            <ChildContent>
                <BFUImage Src=@($"/Images/ProfileIcons/python.svg") Width=@LANG_ICON_WIDTH />
            </ChildContent>
        </BFUTooltipHost>
    </BFUStack>

</BFUStack>

@code
{
    const int LANG_ICON_WIDTH = 50;

    string[] langTooltipText = { "C", "C++", "C#", "Java", "Python" };
    string[] langTooltipImageName = { "c", "cpp", "csharp", "java", "python" };

    [Inject]
    ThemeProvider ThemeProvider { get; set; }
}